[2017-11-16 17:33] pdjota opened #5 "Broken link to API documentation"
The link to the API reference returns 404 in https://github.com/prismicio/prismic-reactjs/blob/master/README.md
links to
https://prismicio.github.io/prismic-reactjs/globals.html

[2017-11-17 11:10] levimykel commented on #5
Thanks for pointing this out! I've just updated the link.

[2017-11-17 11:10] #5 closed

[2017-11-22 04:20] elyobo opened #6 "Support custom element and props in render"
The `.render` for rich text currently forces an additional `div` around the rendered elements, with no ability to customise the wrapper div nor any ability to pass props to that wrapper (e.g. a `className`).

As of React 16, components can [render fragments](https://reactjs.org/blog/2017/09/26/react-v16.0.html#new-render-return-types-fragments-and-strings) so for React 16 the additional wrapper is

[2017-11-22 17:12] levimykel commented on #6
Hi @elyobo, thanks for bringing this up, you're absolutely right. We'll add this functionality.

[2017-11-22 20:45] elyobo commented on #6
I realised after this that, as this isn't actually a component, it can happily return an array of elements even with React 15, which is possibly a cleaner approach - the user can then wrap (or not wrap) the result however they want.

You could return a single element if that's all that there was (e.g. a title field or a single item in a rich text field), or an array if there were multiple items; b

[2017-11-22 21:03] arnaudlewis commented on #6
Hi, react 15 doesn't allow you to render an array of components in few
cases so we decided to wrap it just to simplify things for people and avoid
covering corner cases on your own. You made a really good point about that
and we'll try to implement the best possible solution to fix it for react
15 and 16.
About the generated keys, I'm aware of what you're saying and you're right
it's not ideal bec

[2017-11-22 21:59] elyobo commented on #6
Thanks @arnaudlewis,

The only array issue I was aware of with React 15 was that returning one directly from a render function was not possible (now supported in React 16), were there other issues as well?  It does look like `PrismicRichText.serialize` will just return an array anyway...  I understand wanting to keep the API simple to use without causing problems for users if there are other issue

[2017-11-22 22:07] arnaudlewis commented on #6
You're right it's a known issue and your issue will be a good occasion to
talk about this and maybe remove the wrapper.
About the key, it's a good lead to build a key based on the position in the
tree so it would be predictable.
The library is still young but we'll make sure to improve this part to fix
this.
If you have any more suggestions or if you simply want to contribute and
make a pull reque

[2017-11-22 22:14] elyobo commented on #6
I'm happy to provide some PRs, given that you're open to changes here :)

The `key` only matters in relation to the other items in the list, so I don't think tracking the depth in tree as part of the key is required (otherwise it would be simple to pass the tree depth through each `step` as you recurse as well).

I'll open a PR against `prismic-richtext` for my suggestion their, if that's approved

[2017-11-22 22:17] arnaudlewis commented on #6
Perfect I'll take a look.
I'm a bit curious, what is your project?
We are trying to be really responsive because we're convinced that it
requires a strong community to build a great product :)

On Wed, Nov 22, 2017, 23:14 elyobo <notifications@github.com> wrote:

--
Arnaud Lewis
Prismic.io

tel: 0787647471
email: arnaud@prismic.io

[2017-11-28 03:56] tremby commented on #6
Would one way to allow custom props on the wrapper to provide an actual component? I was surprised not to find something like `<PrismicRichText className="myClass" object={myRichTextObject} />` to be possible with JSX.

But since you guys are talking about possibly removing the wrapper entirely, that'd actually be preferable.

Eagerly awaiting a resolution to this.

[2017-11-28 04:08] elyobo commented on #6
We were doing something similar to that internally and it's possibly a nice thing to provide as well.  Something like this (untested)?

[code]

Use like

[code]

[2017-11-28 04:13] tremby commented on #6
By `prismicHtmlHere` you mean the rich text data structure, like `response.results[0].data.my_richtext_field` or whatever?

Sure, it'd be useful to include something like this. It should allow the linkResolver to be passed in too though. And passing in the data structure object as the component's children seems weird to me, since I'd expect to only put actual HTML or other components as something'

[2017-11-28 04:18] elyobo commented on #6
Yeah, the rich text field.

Yes, link resolver needs to be passed through; would that be a global thing or would you pass it as a prop?

Passing as children is a taste thing I guess; I think it makes sense when a component is not actually going to render other `children`, it means you can set prop types or flow types appropriately to indicate what you actually expect there, but it's easy to add a

[2017-11-28 04:23] tremby commented on #6
So far I'm just importing it from a module of my app wherever necessary and passing it into RichText.render. It's a little unwieldy. It'd be nice to register it (as a default but overridable linkResolver perhaps) with the Prismic tools so it's not necessary to pass each time.

[2017-11-28 04:29] elyobo commented on #6
If it was accepted as a prop then it would be easy enough for you to create your own RichText component to wrap one provided here and pass in the right link resolver, then use your own component instead e.g.

[code]

Same eventual outcome (you only need to deal with your link resolver once).

[2017-11-28 04:35] tremby commented on #6
Nice, I may try something like that. Thanks.

But I'd probably still rather have no wrapper!

[2017-11-28 05:34] tremby commented on #6
Realized for now I can just do `{RichText.render(page.heading, linkResolver).props.children}` to unwrap the contents.

[2017-11-29 01:48] elyobo commented on #6
@tremby I suggest opening another issue if you'd like a render component or registration of a default link resolver.

[2017-11-29 02:12] tremby commented on #6
I think registration of a default link resolver is possibly best done with a per-project wrapper as you suggested.

As for a component, I'm not sure if it's super necessary or helpful. I was mostly just surprised there wasn't already one.

[2017-11-29 02:13] tremby commented on #6
Where did we land on ditching the wrapper element? The PR you opened doesn't address that.

[2017-11-29 02:15] elyobo commented on #6
No, I didn't want to mix up the concerns in that PR so have left it for the moment.

[2018-02-19 15:54] #6 closed

[2018-04-24 14:17] levimykel opened #9 "Unable to handle multiple stylings"
The kit currently is unable to handle multiple stylings of the same text in a Rich Text field.

For example, if you put everything in bold, and one part of the text in italic on top of the already bold, it renders only the strong tag, the em tag is missing.

Along with this if you put text in bold, and I set a link on 2 different words on top of the bold, only the last link will be rendered to an

[2018-04-25 13:33] jdwillemse opened #10 "RichText.asText prepends newline char to string"
This is the object that is returned from Prismic:
[code]

This is what `RichText.asText()` outputs:
[code]
Is this a bug or expected behaviour? I would expect the output to be "Velkomin".

[2018-04-25 15:47] arnaudlewis commented on #10
fixed in 0.3.1. Thanks for your report.

[2018-04-25 15:47] #10 closed

[2018-05-23 16:13] tylermcrobert opened #12 "richText.render() outputs &nbsp;"
I'm using `richText.render()` and it works perfectly, however, it renders out `&nbsp;` as text.

[2018-07-05 03:59] mathieudelvaux commented on #6
Hi guys, any news on this?
The issue was closed but I can't find any PR addressing this.
I'm using @tremby's solution (`props.children`) for the moment.

Although, I have a similar issue. My custom type is setup this way:
[code]
Paragraphs are supposed to not be allowed, but my structured text is still rendered inside a `<p>` tag, inside a `<div>`, obviously.

[2018-08-20 10:01] jbdebiasio opened #13 "img element does not contain copyright attribute if existing"

[2018-10-02 19:32] jdwillemse opened #14 "RichText.asText() should not throw error if no content is passed"
If a field is left blank in Prismic and that field is rendered using `RichText.asText()` and error is thrown
[code]
This requires that every field needs to be checked before being rendered which makes for clumsy code.

If would be great if asText returned and empty string instead.

[2018-10-25 05:41] nhardy opened #15 "Latest npm published version v0.3.1 still includes react@15 as a dependency"
The latest npm-published version v0.3.1 still includes react@15 as a dependency. React was converted to a peerDependency in April in 778f50a and changed to allow for `react@>=15.6.1` in August in 2eaff808, but it looks like v0.3.2 needs to be published, so that `prismic-reactjs` can be used with React 16.

[2018-11-06 01:49] nhardy commented on #15
@krabbypattified @arnaudlewis Any updates on this?

[2018-11-06 13:37] erichirlemann opened #16 "RichText.render doesn't work on IE11 without a polyfill"
Any use of `RichText.render` does not work under IE11.
`
TypeError: Object doesn't support property or method 'assign'
`

For me, the use of a polyfill as https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Object/assign#Polyfill solves the issue.

[2018-11-07 11:17] arnaudlewis commented on #15
It's taken care of, you can now pull the new 0.3.2 version ;)

[2018-11-07 11:17] #15 closed

[2018-11-07 15:05] Duaner commented on #16
Thanks @erichirlemann

Could you do a PR for that if you already have the code in your version of the kit ?

[2018-11-07 15:10] erichirlemann commented on #16
I don't have such a version of the kit, in my context I had to put  `Object::assign` polyfill in place for my own code and could solve two problems with it.

[2018-11-22 03:49] nhardy opened #17 "Facebook/Twitter embeds only trigger on first render"
The scripts from emebds for Facebook, Twitter, etc, seem to only be triggered the first time an embed is rendered for that embed type, and do not trigger for subsequent renders in a single page app.

[2019-04-10 13:12] pex commented on #14
As noted in #19 an upgrade of [prismic-richtext](https://github.com/prismicio/prismic-richtext) should solve this issue.
Should be fixed since b16c2553a20cf755182ff25f5a8192c21bef4b03 (actual patch: https://github.com/prismicio/prismic-richtext/commit/dac153b5c3395b46168c272d4e2a474b79998d4d)

[2019-04-28 11:19] benpetsch opened #20 "fetchLinks Unexpected behaviour JS API"
Unexpected behaviour for the option "fetchLinks".

From the docs I expected that the option is available for all endpoints.

This does not work:
[code]

This does work:
[code]

Please add a more explicit definition to the docs of available options for each endpoint.

[2019-04-30 09:01] #16 closed

[2019-05-02 10:53] #14 closed

[2019-05-02 13:12] hypervillain commented on #20
Hello @benpetsch, I get your frustration unfortunately this repository does not contain code related to Prismic API! Would you mind opening an issue on https://github.com/prismicio/prismic-javascript?

I'll be closing the issue, don't hesitate to re-open

[2019-05-02 13:13] #20 closed

[2019-05-02 13:13] hypervillain commented on #12
Hey @tylermcrobert I'm unable to reproduce, could you give me more information?

[2019-05-02 13:44] hypervillain commented on #13
Hi @jbdebiasio,

by default, the serializer does not display any copyright indeed.
But it's actually a perfect use case for creating your own `htmlSerializer`!

Here is a small snippet to get you started:
[code]

then use it like this 👇

[code]

Hope it helps!

[2019-05-02 13:44] #13 closed

[2019-05-02 13:53] hypervillain commented on #9
Hey @levimykel , this one has probably been solved in prismic-richtext ✌️

[2019-05-02 13:53] #9 closed

[2019-05-02 15:15] levimykel commented on #20
Hi @benpetsch,

I just wanted to follow up quickly on this. There isn't actually an issue or bug here.

The helper functions like `getByUID` allow you to pass the query options in as third parameter. But when using the standard `query` method, you don't pass the query options in the query Predicates, but as the second parameter of the `query` method.

Here is how you can pass the query options in

[2019-05-21 13:02] #17 closed

[2019-06-17 09:33] trickydisco78 opened #23 "Cannot get rich Text to work"
Using an example repo by [Birkir](https://github.com/birkir/gatsby-source-prismic-graphql/blob/master/examples/arnaud)

https://github.com/birkir/gatsby-source-prismic-graphql/blob/master/examples/arnaud/src/pages/index.js

Using ``` <RichText render={data.title} linkResolver={linkResolver} />```

I get

Element type is invalid: expected a string (for built-in components) or a class/function (for

[2019-06-17 09:52] trickydisco78 commented on #23
I;m being an idiot. It was using an older version of prismic js

[2019-06-17 09:52] #23 closed

[2019-06-26 21:34] edahlseng opened #24 "Recent update not working in Internet Explorer"
After the recent update to v1.0.0, it appears that this module is failing in Internet Explorer. I'm still not sure why or what the final fix would be. Has anyone else seen this?

[2019-07-04 15:27] davidpmccormick opened #25 "Docs for HTML serializer have incorrect import"
This docs  at https://prismic.io/docs/reactjs/beyond-the-api/html-serializer have the following:

[code]

I believe this should read:

[code]

[2019-07-04 15:57] raulg commented on #25
Nice catch! We're currently in the process of updating all of the documentation related to ReactJS to bring it in line with the changes to `prismic-reactjs`. Thanks for letting us know, this will be added to the changes of the reference docs.

[2019-07-31 10:02] sambou commented on #24
Yup, same here. The issue seems to be in prismic-richtext, this is what I'm getting on the console:
[code]

[2019-08-02 09:39] hypervillain commented on #24
mmh, that's weird. I actually did a PR on prismic-richtext that was supposed to get rid of that kind of issues. See here: https://github.com/prismicio/prismic-richtext/commit/ab1228f89bc714b93c7515ac1072dd18e672e9ae#diff-11e9f7f953edc64ba14b0cc350ae7b9d

I may take some time to investigate next week but any help would be _greatly_ appreciated

[2019-08-06 13:24] hypervillain commented on #24
Hey guys,

try updating the package to `1.0.1` and you should be good to go!

[2019-08-06 13:26] hypervillain commented on #25
Hey @davidpmccormick,

I believe the documentation is now up to date!
Did you give it a try?

Hugo

[2019-08-06 18:39] edahlseng commented on #24
Thanks @hypervillain! We'll give it a shot next week!

[2019-08-07 11:21] craigtaub commented on #24
We got same issue on IE11, upgraded to `1.0.1` and now webpack build gets error below (webpack v4).

[code]

[2019-08-08 08:42] hypervillain commented on #24
Perfect, I'll close the issue. Tell me how it goes!

[2019-08-08 08:42] #24 closed

[2019-08-08 08:43] craigtaub commented on #24
The update fixed it for us.

[2019-08-09 09:58] #25 closed

[2019-08-12 12:50] kaYcee opened #27 "Including polyfills increases bundle size"
Not an issue but a suggestion for improvement:

Based on [bundlephobia.com](http://bundlephobia.com), bundle size has recently increased from 71KB minified (1.0.0) to 217KB minified (1.0.1), which is a twofold increase. I guess it has mainly to do with the now bundled polyfills.

It seems to be best practice now to indicate in the README when polyfills are required but let the user decide how to i

[2019-08-19 21:16] StarpTech commented on #27
I just wanted to open the same issue. We see the same increase of more than ~200kB for our product page. We only use:

[code]
This is not acceptable and therefore we can't use this library.

[2019-08-19 21:24] StarpTech commented on #27
The common way to include polyfills is at project root. For example in angular (polyfill.ts), next.js (webpack config) etc.. Imagine every library would ship it's own es6 polyfills that would :octopus: :bomb:

[2019-08-20 13:14] hypervillain commented on #27
Hey guys, I'm sorry you're experiencing such a huge issue and I'm totally responsible for this. I went a bit fast on solving the `prismic-richtext` related issue and did not think through bundle size at all.

I'll take some time tomorrow to make a PR on this subject

[2019-08-21 15:37] IikkaWinter commented on #27
We are only using RichText component from the lib and the size is still 77.1KB easily being the largest piece of 3rd party code in our app so there is a lot of optimisation to be done. This is why we are also considering dropping it completely.

[2019-08-23 10:26] hypervillain commented on #27
Hey guys,

I did a PR that you can preview here: https://github.com/prismicio/prismic-reactjs/pull/28
It significantly reduces the size of the bundle (around 22k).

If you find other optimisations, I would love to have your feedback. In the meantime I'll find a reviewer and will probably deploy `1.1.0` later today

[2019-08-23 13:50] hypervillain commented on #27
Deployed to `1.1.0`, can you guys give it a try?
I'll close in the meantime, feel free to reopen!

[2019-08-23 13:50] #27 closed

[2019-08-26 07:35] IikkaWinter commented on #27
@hypervillain were you supposed to release the changes? The latest is still 1.0.1.

[2019-09-12 22:10] bschulz87 opened #29 "RichText Component does not work with gatsby build if render object contains embed"
when trying to build a gatsby site with posts having embeds (except youtube) in doc.node.content which return ```<RichText render={doc.node.content} />``` the process throws

[code]

```{RichText.asText(doc.node.content)}``` works just fine, though.

package.json:

[code]

[2019-09-16 13:33] #29 closed

[2019-09-17 16:51] vuquanghoang commented on #12
I also got the same issue. I tried to type text into CMS and then get content by this code:
`<RichTextContainer>{RichText.render(slice.primary.content)}</RichTextContainer>;`

All of the spaces turned into &nbsp;. Not sure you guys know about it at this moment?

[2019-09-24 07:44] hypervillain commented on #12
Hey @vuquanghoang,

do you know which version this happens with? I will try to reproduce on my side. Is there any specific content in your rich text (videos, embeds...)?

[2019-09-25 20:21] fchengpc opened #31 "Link. url do not support graphql field return"
the prismic gql return object as following ```{"_linkType":"Link.web","__typename":"_ExternalLink"}```
then when you try to use `link` to render the url it throw
[code]

[2019-09-26 12:28] hypervillain commented on #31
Hey,

can you add some example code with ideally a request and an endpoint if it is public? I am not familiar with using GraphQL with Prismic

[2019-09-26 16:39] robcalcroft opened #32 "Breaks with CSP"
This might not be your fault but when I'm using Gatsby with your library my CSP complains that it needs `unsafe-eval`:
[code]
Wonder if there is a way round this?

[2019-09-26 17:33] paytonbox opened #33 "Date utility overrides global Date constructor"
When importing the `Date` utility, the global js `Date` constructor is overwritten. The utility can be renamed on import, but this seems like dangerous practice. Consider renaming to `ParseDate` or `ConvertDate` or something else that better indicates the function.

[2019-09-27 13:45] mverissimo opened #34 "Rich text graphql"
I see that rich-text expect the following props:
`
[{
      type: '',
      text: '',
      spans: [],
}]
`

but the api returns something like that:
`
data {
  description {
    raw {
      type
      text
     }
     html
     text
    }
}
`
I'm using [https://github.com/birkir/gatsby-source-prismic-graphql](url)

[2019-09-30 08:08] hypervillain commented on #34
Hey, can you move your issue to [prismic-richtext](https://github.com/prismicio/prismic-richtext)?

[2019-09-30 08:08] #34 closed

[2019-09-30 13:15] hypervillain commented on #32
Hey @robcalcroft,

I _think_ this might come from us injecting embed scripts in the DOM. This is required by the Embed field in Prismic custom types. A quick solution would probably be to whitelist these 3 urls in your CSP meta-tag:

- https://platform.twitter.com
- https://connect.facebook.net
- https://www.instagram.com

I'm open to discussing other solutions of course. If so, it would be awesom

[2019-10-03 13:39] hypervillain commented on #32
Feel free to reopen!

[2019-10-03 13:39] #32 closed

[2019-10-04 12:16] Simounet opened #35 "Custom props on the final component"
Hi there,
Maybe I didn't saw the option to give props (like `className`) to the the final component. My use case is styling components with [styled-jsx](https://github.com/zeit/styled-jsx), I need to set the `className` prop on the final component that will be styled.
Have a nice day.

[2019-10-06 13:26] acd02 opened #36 "RichText component seems to not format text properly"
Hello there,

first of, great job on Prismic 👍

I have a weird layout error, please check out this this [video](https://streamable.com/u8czr)

Until the __20 sec mark__, the content is rendered by the `RichText` component, and you can see the layout is kind of broken.

And you have a look at the devtools, you can see that when I resize the panel, the text does not wrap, I have to scroll to read it

[2019-10-06 16:05] acd02 commented on #36
actually, it's a duplicate with #12

[2019-10-06 16:05] #36 closed

[2019-10-06 16:15] acd02 commented on #12
Hello, I got the same issue here,

prismic-reactjs version: "1.1.1"

Render:
___
![image](https://i.imgur.com/HUJTCHV.png)

Data:
___
![data](https://i.imgur.com/HSdYWjs.png)

[2019-10-10 13:14] hypervillain commented on #12
Hey @acd02, so your post-scriptum means that everything is fine on our side? I actually tried and pasted non-breaking spaces in my Rich text editor and could not reproduce your use case either 🤔

[2019-10-10 13:51] acd02 commented on #12
Yes, problem solved on my side :)

weird indeed 🤔

[2019-10-17 12:58] ascii-husky opened #37 "Link.url fails for internal links if used with graphql"
Link component in prismic-helpers used by prismic-reactjs checks for `link_type === "Document"` but graphql returns `_linkType === "Link.document"`. Please see image

![image](https://user-images.githubusercontent.com/8591856/67010720-7bb73e00-f0ee-11e9-8958-29773827c885.png)

Do I use Link.url wrong or is this a bug?

Thanks

[2019-10-25 02:45] fchengpc commented on #37
i face the same issue

[2019-10-25 02:47] fchengpc commented on #31
My bad, i lost track of this issue.
here is some sample link fragment:
`{"_linkType":"Link.document","_meta":{"id":"XZvpkxIAACMAu8Vw","uid":"test--scheduler","__typename":"Meta"},"__typename":"Scheduler"}`
[code]
above code do not go into linkResolver

[2019-10-25 02:47] fchengpc commented on #31
https://github.com/prismicio/prismic-reactjs/issues/37

[2019-10-31 02:08] alexanderfletcher-vgw opened #38 "unsafe eval"
similar to react-javascript it seems this bundle isn't csp friendly due to unsafe - eval,

a pr is up for react-javascript to fix it, can a similar thing be done here?

https://github.com/prismicio/prismic-javascript/pull/97

Thanks!

[2019-10-31 15:46] MarcMcIntosh commented on #38
Fixed in https://github.com/prismicio/prismic-reactjs/pull/39

[2019-10-31 15:46] MarcMcIntosh commented on #38
Thanks :)

[2019-10-31 16:06] hypervillain commented on #37
Closing in profit of #31

[2019-10-31 16:06] #37 closed

[2019-11-04 15:55] hypervillain commented on #31
This PR should solve the issue: https://github.com/prismicio/prismic-helpers/pull/3

[2019-11-05 19:12] dianekaplan opened #40 "Error updating code to use newer render syntax, with react-dom 16.0.0"
Not sure if this is an issue with prismic-reactjs + react-dom 16.0.0, or my misunderstanding the current usage-

I've inherited a react/prismic/node application that started with prismic-reactjs 0.2.0, and I have a branch where I've upgraded to prismic-reactjs 1.1.0. Because of dependencies, this has also meant updating the following other packages:
react: 15.6.1 → 16.0.0
webpack: 3.12.0 → 4.39.2

[2019-11-07 14:40] #12 closed

[2019-11-12 11:03] hypervillain commented on #35
Hey @Simounet,

you should now be able to pass a `className` prop (and more) on the final component.
See https://github.com/prismicio/prismic-reactjs/pull/41

Note that if you need to do this on children components, you will need to rely on `htmlSerializer` prop. See this: https://prismic.io/docs/javascript/beyond-the-api/html-serializer

Let me know if I can help further,
Hugo

[2019-11-12 11:03] #35 closed

[2019-11-23 07:48] martaver opened #42 "Typescript types...?"
Hi guys, I notice that prismic-javascript has typings available. Any plans to release typings for this?

[2019-11-27 07:55] mespeche opened #43 "RichText with React Native"
Hi !

I have an issue when i use RichText on my React Native application.

With React Native, any text should be in a <Text> component.

Rich text return me an error if I do :
`<RichText render={...} Component="Text"/>`

Same things if I do :
`<RichText render={...} Component={<Text />} />`

Have you got an idea ?

Many thanks ;)

[2019-11-28 17:48] fandy commented on #42
Would be super useful especially when creating serializers.

[2019-12-08 06:11] angeloashmore commented on #31
Sounds like the fix for this is already in motion, but I am seeing the following different shapes for links in two different projects. Both use the REST API V2, but I think one of them might have GraphQL enabled on the repo (but unused).

Is this intentional? Sorry, I realize this is more of an API question than `prismic-reactjs`.

**Project 1**:
Maybe with GraphQL enabled on the repo, but unused.

[2019-12-10 15:58] #43 closed

[2020-01-03 22:30] rubas commented on #42
Same goes for `prismicio/prismic-richtext`. Any chance of an update with types? Would be highly appreciated.

[2020-01-03 23:12] rubas commented on #42
As a starting point ...

[code]

prismic-richtext.d.ts
[code]

[2020-01-09 03:07] denkigai commented on #42
Also it is useful if we can import types for api response and models we created, like `Document`. How can i do this?

[2020-01-24 15:06] jenshedqvist opened #46 "Redundant wrapping div rendered by RichText.render"
The `RichText.render` method wraps Prismic StructuredText in a redundant div. This makes for instance using ´React.Children` helpers hard to use on rendered result.

This structured text:
[code]

Results in:

[code]

The document says that a *React fragment* is used as a wrapper. Not a `<div>`.

[2020-01-31 15:43] Gholgot commented on #42
Hi,
I made a PR to fix this issue.
Feel free to comment It or share advices to improve what has been made 😃

[2020-02-06 07:16] dcecile opened #48 "Only standard tag element serializers supported"
I tried to override `elements={{[Elements.image]: CustomImage}}`, but got a confusing error:

This is because for any custom elements, [the library only provides children](https://github.com/prismicio/prismic-reactjs/blob/f5c4c3d/src/richtext.js#L40-L43), which is invalid in the case of `img`.

Maybe in the places where `createElement('...', ...)` is used in `richtext.js`, try checking `elements`

[2020-02-08 00:01] alexanderfountain opened #49 "Cannot read property 'map' of undefined"
I'm sourcing prismic via gatsby-source-prismic

I'mm trying to render like this:
{items.map((item, index) => (

      <RichText render={item.content} />

))}

Seems to be from line 588 from prismic-reactjs.js
"var t = e.spans.map(function (t) {"

I have rich text in a repeatable slice.

Any thoughts would be much appreciated.

[2020-02-17 15:56] hypervillain commented on #49
Hey @alexanderfountain ,

sorry you encountered an issue. Can you log `item.content` and paste the result here? It usually means that `prismic-richtext` is passed an empty value, or something that looks like rich text but is not

[2020-02-17 16:02] hypervillain commented on #48
Hey @dcecile ,

it makes a lot of sense. The `elements` property is really new, I'm already happy you tried it out! Expect a fix in the coming days 👍In the meantime, you can use the `htmlSerializer` of course

[2020-02-17 16:02] #48 closed

[2020-02-25 14:39] Razinsky commented on #49
I have the same exact problem. In GraphQL my Rich text content type gives
[code]
If I try to render it with
[code]
I get a simple warning `Rich text argument should be an Array.`

But if I try to render with
[code]
then I get

![image](https://user-images.githubusercontent.com/3629808/75257212-a018da80-57b2-11ea-87e2-2651546ccb75.png)

Any help would be greatly appreciated.

[2020-02-25 14:43] alexanderfountain commented on #49
I was unable to resolve this Razinsky.

My solution was to switch my gatsby-source-prismic from version 2 to version 3.

If you go that route you need to create schema json files containing your content types. You can copy and paste these directly from prismic.

[2020-02-25 14:53] hypervillain commented on #49
This might be related to plugin you use, then.
Have you looked at https://github.com/birkir/gatsby-source-prismic-graphql
 instead?

On Tue, Feb 25, 2020 at 3:43 PM Alexander Fountain <notifications@github.com>
wrote:

[2020-02-25 15:11] alexanderfountain commented on #49
Yes I did. That worked with your richtext, but gatsby-source-prismic-graphql forces you to create pages an odd way via a constrained method in your gatsby-config file instead of the standard more flexible method in your gatsby-node file which I needed.

[2020-02-25 15:31] Razinsky commented on #49
Yeah @hypervillain that works but I agree with @alexanderfountain, `gatsby-source-prismic` version 3 works fine. Thanks @alexanderfountain

[2020-02-25 19:45] dcecile commented on #48
Thanks, looking forward to it!

I was able to work around this initially using a CSS rule for `img`, but now I want to use [Next.js `Link` components](https://nextjs.org/docs/api-reference/next/link) for hyperlinks within our site.

[2020-02-25 21:55] dcecile commented on #48
@hypervillain We'd also like to substitute `button` elements for links to a special content type (deep linking into a chat flow).

I don't see the new code yet, so can you update this issue once the feature is released? We'd start using it right away instead of doing a workaround that would involve HTML building or [element replacing](https://bitsofco.de/anchors-vs-buttons/#whatsthesolution).

[2020-02-26 08:42] Jezfx commented on #49
Yeah thanks @alexanderfountain — upgrading to v3 was the only way I've been able to get it to work too.

[2020-03-05 14:14] haf opened #50 "Expose serialisation functions"
If I'm supposed to be able to override singular element type serialisation functions, it would be great to be able to delegate all other types of elements into this code-base. Hence; if you could expose your serialisers, it would be appreciated.

[2020-03-12 11:49] hypervillain commented on #48
Hey, thanks for your patience, I just merged a PR that should better handle different element types. Thank you for your patience @dcecile

[2020-03-12 12:49] dcecile commented on #48
@hypervillain OK thanks, we'll take a look! 👀

[2020-03-12 15:12] hypervillain commented on #48
Awesome! It's been deployed as a minor version bump

On Thu, Mar 12, 2020 at 1:50 PM Dan Cecile <notifications@github.com> wrote:

[2020-03-13 15:58] ryan-codingintrigue opened #52 "Typings missing from NPM publish"
The `typings` folder appears to be missing from the published NPM package:

https://unpkg.com/browse/prismic-reactjs@1.3.0/

Not sure if this is intentional or not, given that it's in the `package.json` seems like this might me a mistake...

[2020-03-19 10:34] Heyrows commented on #46
Hi jenshedqvist,

I couldn't reproduce the issue with the structured text you gave.
Could you reproduce your issue on a code environment like https://codesandbox.io/.

[2020-03-24 21:28] hugihlynsson opened #53 "Missing release entry for 1.3.0"
The [1.3.0](https://github.com/prismicio/prismic-reactjs/commit/7bb1d7474a5f0578fde1745653e4a2db3c64fa6b) commit was added 12 days ago and published to NPM but there is no release nor tag for that version.

[2020-04-03 12:44] Razinsky opened #54 "Prop type validation is wrong for RichText Component prop"
Currently the prop type of the `Component` prop of the `RichText` component is `node` which is wrong and trigger a warning when choosing a valid React component. The code works, just the validation is wrong. The right prop type should be `elementType` instead.

A PR is ready if someone could grant me access.

[2020-04-11 16:00] ohlr commented on #42
I tried to install `@types/prismic-reactjs` but there is no such package. How do I make use of your PR @Gholgot ? It should be merged in the current release 1.3.0

[2020-04-22 11:26] cyrilchapon commented on #52
It's manually `.npmignore`d [here](https://github.com/prismicio/prismic-reactjs/blob/master/.npmignore#L132); thus making the package.json `typings` field unworking.

[2020-04-23 10:01] hypervillain commented on #54
Hey @Razinsky, definitely.
I'm releasing small changes so I'll add this on top of them.

For other times: I can't grant you access (not being an admin myself) but usually you can create a pull request from a fork of this repo

[2020-04-23 10:01] #54 closed

[2020-04-26 19:50] ohlr commented on #42
I am still struggling on the PR of @Gholgot
Do I have to use [typings](https://www.npmjs.com/package/typings) for this to work?

Is there any chance to add this to [DefinitelyTyped](https://github.com/DefinitelyTyped/DefinitelyTyped)

[2020-04-28 20:23] aequasi opened #56 "asText doesn't add newlines where it should"
https://user-guides.prismic.io/en/articles/3690367-writing-markdown-in-a-prismic-field

Following this, trying to parse a markdown doc, and I'm having some trouble with it. It seems as though `asText` doesn't put newlines between separate paragraphs, divs, headers, etc. This makes it impossible to parse markdown'ed content with multiple paragraphs.

[2020-05-02 07:00] schwigri commented on #42
I have `prismic-reactjs` installed from NPM, version 1.3.1. I looked in `node_modules/prismic-reactjs` folder and there is indeed the `typings/index.d.ts` file. However, my VS Code behaves as if there is not a declaration, and when I open that file, it has many errors:

Line | Error
---|---
33 | `Value of type 'typeof Component' is not callable. Did you mean to include 'new'? ts(2348)`
35 | `Initi

[2020-05-03 14:05] ohlr opened #57 "asText(undefined) TypeError"
`RichText.asText(undefined)` results in the following runtime error in development mode.
On building the page it causes to fail the build.

Is this intended?

[code]

[2020-05-04 11:58] hypervillain commented on #57
Hey @ohlr, I wouldn't say intended as it's simply passed to RichText, I believe. I'll talk with the dev team if it's something we could change on `prismic-dom`. In any case, we can add a check in the React package. Would you mind opening a PR?

[2020-05-04 12:39] ohlr commented on #42
@schwigri I can confirm your issue with VScode (if you resolve it please let me know.)

[2020-05-05 10:04] ohlr commented on #52
https://github.com/prismicio/prismic-reactjs/commit/ff8a1c5a8e798a2b4e69024a1e79dc20fe2841bd
@cyrilchapon when will this be released?

[2020-05-05 10:06] ohlr commented on #42
https://github.com/prismicio/prismic-reactjs/issues/52 I believe this is the issue why it's not working

[2020-05-05 14:14] cyrilchapon commented on #52
I have no clue my friend; just quickly PRed this to get this done.

[2020-05-05 14:15] cyrilchapon commented on #52
@ohlr ; hum; it's live actually.

[2020-05-05 17:37] ohlr commented on #52
ah sorry I only looked at the releases here on github which are not actively maintained

[2020-05-06 10:48] noblica commented on #52
Hey, I'm still getting this error, even thought the typings folder is there. Any idea what might be wrong, or if it's related to this?
![Screenshot from 2020-05-06 12-46-16](https://user-images.githubusercontent.com/9339019/81168696-c4095100-8f97-11ea-8360-e69e622d57bf.png)

[2020-05-06 11:35] noblica commented on #42
Moving `index.d.ts` out of the `typings` folder, and into the root folder seems to make the error go away. But I think the returned types are still incorrect. For example - `RichText` is returned as an `any` type, when it should be a React Component.

[2020-05-06 14:27] Martaver commented on #42
@noblica it's true... the types in the `typings` folder are fubar. I copied them manually into my own project as a temporary measure and even then, after hacking at them to make them fit, they were thoroughly broken.

Not fun.

Step it up, prismic. This is just lazy.

[2020-05-06 15:31] ohlr commented on #57
so @hypervillain  whats the status?

[2020-05-08 22:48] sessa commented on #42
I made a pr #61 -- I am copying these into my project.  Curious if you do the same if you will see any success.

[2020-05-09 09:33] noblica commented on #42
@sessa These look pretty good, thanks! I'll try them out.

[2020-05-13 09:56] #57 closed

[2020-05-13 10:49] #46 closed

[2020-05-13 10:50] #49 closed

[2020-05-13 10:54] hypervillain commented on #33
It's definitely something we should rename here. I added a warning section to the README as a starting point. Thanks!

[2020-05-13 10:54] #33 closed

[2020-05-15 11:13] noblica commented on #42
Maybe this should go under the main `prismic-js` repo, but what do you think about adding types for the fields? For example, if your query returns a `title`, you get this structure:

![Screenshot from 2020-05-15 13-11-05](https://user-images.githubusercontent.com/9339019/82044419-9d40ce00-96ad-11ea-938b-528ef3dc4434.png)

So couldn't we have a `PrismicTitle` type (or something like that) with the

[2020-05-15 16:56] schwigri commented on #42
@noblica, do you know if there is a document outlining all of the possible Rich Text array items? I wrote a very generic `RichTextBlock` type to #61 in a comment, but I believe it could be expanded upon.

[2020-05-18 12:29] noblica commented on #42
Hey @schwigri I think not. I think we just have to go through the existing code. A good starting point seems to be the `src/richtext.js` file:

[code]

[2020-05-28 13:36] ohlr commented on #57
@hypervillain when do you plan the next release?

[2020-06-10 09:35] yourmediafriend opened #63 "Empty Paragraph throws error."
RichText parser does not like empty paragraphs

`{
  "type": "paragraph",
  "text": "",
  "spans": []
},`

TypeError: Cannot read property 'length' of undefined

Could this be ignored rather than an error as we can't guarantee our content staff won't add empty paragraphs.

[2020-07-05 18:40] codingwithchris commented on #52
Any update on this? I am seeing the `typings/index.d.ts` file in the actual node modules package but my project still isn't recognizing it:

`Could not find a declaration file for module 'prismic-reactjs'`

On `v1.3.1`.

[2020-07-05 22:45] codingwithchris commented on #52
Ahh... seeing now that this is directly related to #62 and #61.

[2020-07-18 00:03] NeversSync commented on #40
Having the same issue. Did you resolve this?

[2020-07-21 14:29] MarcMcIntosh commented on #63
Hi @yourmediafriend
I'm retying to create this issue in a unit test, can you provide more information in the PR above?

[2020-08-03 07:56] YoannDelpierre opened #68 "linkResolver typings"
Hi, it seems the doc argument in `linkResolver` has been removed between 1.3.1 and 1.3.2

https://github.com/prismicio/prismic-reactjs/commit/f8e19de43192e9390b8ba25e61a6438624051ab4#diff-b52768974e6bc0faccb7d4b75b162c99R54

Based on the documentation, we should have a document in argument https://github.com/prismicio/prismic-reactjs#basic-example

Why did you remove it ?

[2020-08-03 13:54] hypervillain commented on #50
Hey @haf, can you give me more details of what you mean? Would you like to be able to specify your own serialize functions, like our [`serializeStandardTag`](https://github.com/prismicio/prismic-reactjs/blob/master/src/richtext.js#L48) for example?

[2020-08-03 16:49] haf commented on #50
No, I don't, I mean exposing your existing per-type serialisation functions.

[2020-08-04 09:30] hypervillain commented on #50
Ok, we can definitely do that. How would you make use of them?

[2020-08-04 09:41] haf commented on #50
I ended up copying your code instead; but what I would have done would have been to delegate to them from my own clone of your main serialise function, as to keep the behaviour the same for everything except the single serialisation function I wished to override.

The use case was rendering NextJS links.

[2020-08-04 09:53] hypervillain commented on #50
Ok, it definitely makes sense!

Have you tried using the `elements` property?

[code]

[2020-08-04 09:56] haf commented on #50
I think I tried it, but it’s been too long and I don’t remember why I didn’t use it. Sorry

[2020-08-04 09:59] hypervillain commented on #50
haha no problem, we added the prop not so long ago, it may even not have been available at the time! Thanks for your contribution ✌️

[2020-08-04 09:59] #50 closed

[2020-08-07 09:25] dnieuwmans opened #70 "Mismatch in serializeHyperlink typings"
I am getting errors after updating to `1.3.2`. `serializeHyperlink` seems to have changed and it isn't in sync of what the documentation explains (https://prismic.io/docs/reactjs/rendering/rich-text).

[2020-08-07 15:30] bitmap commented on #70
👋 I recently opened a PR to update typings (#69), hopefully that resolves your issue.

[2020-09-03 13:19] jordiup commented on #42
Yay! an open issue that's been closed :)

I just had to run: `yarn upgrade prismic-reactjs` !

[2020-09-03 20:14] #70 closed

[2020-09-15 16:08] Levino opened #72 "Please push the tags"
Tag `1.3.1` and `1.3.2` are missing. I guess you have tagged the code before release but forgot to push the tags to github. Please do so, I need to compare the versions.

[2020-09-15 16:10] Levino opened #73 "Publish version `1.3.3`"
You updated the package version to `1.3.3` but npm only knows version `1.3.2`. How is that?
https://github.com/prismicio/prismic-reactjs/blob/c6353ea465ae0575da4e3559465767d9def76f77/package.json#L3

[2020-09-15 16:16] Levino opened #74 "Stop maintaining type defs"
It is [not best practice](https://www.typescriptlang.org/docs/handbook/declaration-files/publishing.html) to maintain types if projects are not written in TypeScript:

If you move your types there, you will get tests for the types and strong support by TypeScript experts. Maintaining types with a JS project is very error prone.

[2020-09-15 16:54] Levino commented on #73
Ah, the build [failed](https://github.com/prismicio/prismic-reactjs/runs/1071022659)...

I recommend not publishing via CD tools. That is also why there is #72.

[2020-09-15 16:55] Levino commented on #72
The reason for the missing tags is that this package is published via a CD pipeline. You need to push back the tags after publishing. So what about that?

[2020-09-25 08:21] JohanMouchet opened #75 "Serialize string (`"Hello <span>World</span>"`) to jsx"
I'm defining a _Custom Type_ with a _Rich Text_ field,
I'm creating a _Document_ with this _Custom Type_ and filling the _Rich Text_ field with `Hello <span>World</span>` (as a string).

When passing the data to the `<RichText />`, simplified like so
[code]

The output is an html element `<p>Hello <span>World</span></p>` where `<p>` is an html Element, but `<span>` is a string:
![image](https://us

[2020-09-28 07:03] YoannDelpierre commented on #73
@MarcMcIntosh any idea if you have time to fix 1.3.3 build ?

Thanks

[2020-10-05 09:28] #42 closed

[2020-10-05 12:48] hypervillain commented on #75
Hey @JohanMouchet, RichText is not meant to be used this way. If you really need this to work, you can use `dangerouslySetInnerHTML`. You will have to purify it yourself though, but won't be able to rely on our RichText component

[2020-10-05 12:50] hypervillain commented on #40
I haven't heard of such issues, would you mind sharing a reproduction link here or in the forum?

[2020-10-05 15:03] hypervillain commented on #31
Fixed by https://github.com/prismicio/prismic-helpers/pull/7

[2020-10-05 15:03] #31 closed

[2020-10-05 15:07] hypervillain commented on #56
This is a bit out of the scope of `prismic-reactjs` as the text field is solely handled by the API. One way to solve this is to rely on the paragraphs array instead and parse each separately

[2020-10-05 15:07] #56 closed

[2020-10-05 15:17] hypervillain commented on #73
@Levino it's an issue with our organisation on NPM not having rights on the package... We will have to move it @prismicio/react in the next version. Note that the GH action only publishes alpha versions of prismic-reactjs, so technically we still push manually

[2020-10-05 19:44] jodiedoubleday opened #76 "Is there a way of pushing more data to the link resolver?"
[code]
linkResolver in this instance takes the _meta information for the inline link (uses UID as the resolver) however in my project in using a slug.

is there a way I can pass more data into the link resolver so that it uses slug to resolve?

example of graphQL:
[code]

[2020-10-05 23:04] JohanMouchet commented on #75
Hi @hypervillain,

I thought so, thank you for the confirmation.

For anyone facing the same issue, I worked around it by using a _Preformatted_ field which I passed to [DOMPurify ](https://github.com/cure53/DOMPurify) (to prevent from XSS attacks) and then [HTMLReactParser](https://github.com/remarkablemark/html-react-parser#readme) (to convert the string to markup).

I'm closing this issue,
Keep

[2020-10-05 23:05] #75 closed

[2020-11-13 18:22] mlynch commented on #35
Wanted to add another thought here. Currently it's not possible to add custom props to `RichText` and then access those in the `htmlSerializer`. Instead, the props get put on the `Component` which is a `Fragment` by default.

Is there a way to actually get those props to pass them down to children in `htmlSerializer`?

[2020-11-15 17:43] sarahdayan opened #78 "Customize RichText.render output without re-implementing an HTML serializer"
Hi Prismic team, and thanks for the SDK 🙂

This is not a bug report, more of a feature request.

I'm using `RichText.render` to render rich text content from Prismic as HTML, and I need to access my paragraphs (`<p>` tags) so that I can add class names to them. From what I've understood of the documentation, the way to do so is to [implement an HTML serializer](https://prismic.io/docs/technologies

[2020-11-16 12:53] lihbr commented on #78
Hi @sarahdayan, thanks for the comprehensive issue!

If I got it correctly, you want to serialize a rich text field, keeping the default behavior for all tags, except for paragraphs to which you want to add an additional class to. If that's correct you can create a really simple htmlSerializer like so, similar to what you were suggesting actually:
[code]
The secret resides in the `return null;` st

[2020-11-16 23:57] sarahdayan commented on #78
Hey @lihbr, thanks for the prompt reply! I just realized that this is what the following piece of docs meant 🤦🏻‍♀️

Thanks a lot, closing the issue now 🙂

[2020-11-16 23:57] #78 closed

[2021-01-18 13:54] lihbr commented on #73
I'm not sure where this was at, `prismic-reactjs@1.3.3` was published so closing this issue, feel free to reopen if anything!

[2021-01-18 13:54] #73 closed

[2021-04-06 05:44] Matthaios opened #82 "Firefox and Chrome don't have same nesting order for links with labels."
Hi,
I noticed a problem where RichText is rendering components differently for Firebox vs Chrome. Already noticed this on 2 clients' websites. Basically if you add a label to the link in Rich Text it will nest them differently depending on the browser.

From Firefox:
![image](https://user-images.githubusercontent.com/6664753/113664786-aadbb980-96ac-11eb-917f-5a700a0b3cfc.png)
From Chrome:
![image]

[2021-04-06 08:16] lihbr commented on #82
Hey @Matthaios, thank you so much for reporting that we'll investigate!

cc @a-trost, @hypervillain

[2021-04-26 16:38] Bram-Zijp opened #84 "[Feature request] - Add an option to the CMS to specify background color crop fill"
I would like to have an option to specify crop fill color. Id want to specify this fill crop color in my types/on query level. This way, images with x fade background, could be cropped into an extended background color frame. Currently, you can't crop out of boundary.

[2021-04-26 17:31] a-trost commented on #84
Hey @Bram-Zijp thanks for the feature request! Just so I understand fully, do you mean you'd like to extend outside of the image, like an outward crop where you could specify the color?
For example, if I did this outward-crop with red, I'd get this result:
![image](https://user-images.githubusercontent.com/19617280/116125437-7d72a200-a693-11eb-8111-121f003da920.png)

Is that the general idea?

[2021-04-26 21:52] Bram-Zijp commented on #84
Exactly. It might be a niche, but for my use case, id like to fade out images with a certain background color (in your example images, this would be blueish). These images are made to have a certain fade out color that matches the design. In terms of functionality, the default could be white/transparent. In terms of priority, it would be a nice to have when including functionality like cropping sm

[2021-05-14 02:31] angeloashmore opened #86 "RFC: Generic React SliceZone component"
# RFC: Generic React SliceZone component

In this RFC, I propose a generic React `SliceZone` component be created and used in all React, Gatsby, and Next.js projects using Prismic Slice Zones.

[code]

Creating a standard component leads to a consistent API design across framework integrations. It also leads to consistent and shared education efforts.

Consider the following existing implementatio

[2021-05-17 13:25] a-trost commented on #86
This looks fantastic, Angelo. I definitely agree with the need and reasoning behind implementing this. The implementation looks great, too. I'm all for it.

[2021-05-25 18:16] flexbox opened #88 "Gatsby `e.spans is undefined`"
Hey!

I am in the process of migrating from `gatsby-source-prismic-graphql` to `gatsby-source-prismic`

[code]

I am almost done but I have a weird issue with `RichText render={content}`

I got this data from the GraphQL query
[code]

And the error is this one

![image](https://user-images.githubusercontent.com/360936/119547310-3ca2a180-bd95-11eb-87ac-781e597dfbec.png)

Do you have an idea on how

[2021-05-25 19:16] angeloashmore commented on #88
Hey @flexbox,

That output from Gatsby doesn't look normal. Can you share your `gatsby-source-prismic` plugin options from `gatsby-node.js`? My initial guess is that Gatsby is inferring the types rather than using the Custom Type schemas from the `schemas` plugin option.

In case you didn't already provide your schemas, here's some documentation on how to do so: https://github.com/angeloashmore/ga

[2021-05-26 10:06] Duaner commented on #86
Hey @angeloashmore the only suggestion that I would have is to consider fetching data with the slice zone, in term of vision we think this can fit most of the use cases and simplify the overall development experience for newcomers. You drop a slice-zone and then focus on your components.

[2021-05-31 21:01] angeloashmore commented on #86
Thanks for the review @Duaner.

I see this as a low-level component that does not implement data fetching because data fetching usually requires nuanced implementations. I think we would build integrations around this component in order to fulfill the vision you describe (and I agree with!).

For example, to take full advantage of Next.js, data fetching needs to happen in `getStaticProps`, `getSer

[2021-06-01 08:27] tim-richter opened #89 "Can't access property "load", window.twttr.widgets is undefined"
Hey everyone,
we run into some issues with the twitter embed functionality and get error's thrown when navigating pages in our next.js app.

We use twitter analytics on our site. This means we already have window.twttr defined on all pages by default but window.twttr.widgets is not defined since this is only loaded when on a page with a twitter embed.

This is not checked correctly by the twitter

[2021-06-01 08:42] lihbr commented on #89
Hey @tim-richter thanks for your contribution!

This sounds like a valid bug, if you'd like to submit a PR that'd be more than welcome, else we're adding that to our backlog, thanks!

Also just for your intention, we will refactor and enhance this kit in the near future :)

Cheers!

[2021-06-02 14:53] #89 closed

[2021-06-11 22:56] angeloashmore commented on #88
Hey @flexbox, I'm so sorry that I missed your reply in my notifications. That query and error shows that Gatsby does not have the correct schema loaded.

`dataRaw` is normally a JSON field which does not allow querying for fields within it. Because it allows you to do so, it means Gatsby is inferring the type.

My guess is that your Blog Post custom type's API ID is actually `blog_post` and not `b

[2021-06-11 23:39] angeloashmore commented on #86
### How could the `<SliceZone>` component fit into React and its higher-level frameworks like Next.js and Gatsby?

Read on…

Things to keep in mind

1. **Users may have expectations of how data should flow in their applications.**
   They know where to fetch data. They know where to display data.

2. **If users don't know how their framework works, we should teach them how to best use it.**
   We

[2021-06-15 20:46] angeloashmore commented on #88
I'm going to close this issue as it is Gatsby-specific, but feel free to reply here and I'll check back. Or we can continue in the `gatsby-source-prismic` repo as well.

Thanks!

[2021-06-15 20:46] #88 closed

[2021-06-15 21:24] flexbox commented on #88
Thank you for your time @angeloashmore and your answer 🚀
I need to work back on the project but as a freelance priorities changed 😅

[2021-06-16 22:08] angeloashmore opened #92 "RFC: @prismicio/react refresh"
# Overview

This request for comments (RFC) presents a collection of React components and hooks to make presenting and fetching Prismic content easy and extendable. Some of the described components are updates to the existing `prismic-reactjs` library, while others are new.

These ideas have been developed as a result of real-world use in different environments including within agencies and in-hou

[2021-06-17 14:14] lihbr commented on #92
Awesome! 🎉

I just have few comments regarding `RichText` and `RichTextAsText`:

1. Why not prefixing them with `Prismic`? I feel like `RichText` is a common concept like `Link` and maybe for consistency, it's better to keep the prefix (`SliceZone` making an exception because it's a Prismic concept?)
2. I kinda feel weird about `RichTextAsText`, have we considered just having an `asText` boolean p

[2021-06-17 14:44] hypervillain commented on #92
Lots of good ideas. I'll take a second read next week and give a proper opinion

[2021-06-17 16:39] samlfair commented on #92
Will the RichText component still accept an HTML Serializer?

By giving access to arguments, the HTML Serializer can help address edge cases. Beyond that, for advanced implementations, some users supply a higher-order function that returns an HTML Serializer to the HTML Serializer prop.

[2021-06-18 19:44] angeloashmore commented on #92
@lihbr

I figured RichText is a Prismic concept. PrismicLink and PrismicToolbar need to be prefixed because Link and Toolbar are common, but RichText isn't.

If RichText *is* considered common, then yes, we should name it `<PrismicRichText>` and `<PrismicRichTextAsText>` (The AsText version is quite a lot to type now - see below).

Yes, using different components here was intentional. A boolean pr

[2021-06-18 20:50] lihbr commented on #92
Ok, to me RichText is definitely a common concept, not a Prismic one: https://www.google.com/search?q=richtext

Ok, makes sense! I'm not familiar with React standards that much

I like how this sounds! `<PrismicRichText />` and `<PrismicText />`

[2021-06-21 09:29] samlfair commented on #92
@angeloashmore Currently, the HTML Serializer receives [four arguments](https://prismic.io/docs/core-concepts/html-serializer#accessible-arguments): type, element, content, children. Will the `props` argument in the `component` prop provide access to all of that data? If so, then there's no issue.

Otherwise, here's an edge case where we use a higher-order function for the HTML Serializer (admitte

[2021-06-21 22:42] levimykel commented on #92
This all looks awesome! The only suggestion I have is give the ability to choose how to join the Rich Text blocks in the `< RichTextAsText />` element. Joining them with a space is probably what you need 99% of the time, but I have run into a couple instances where I've needed to join them with a new line instead.

Maybe all we need is a prop to specify that you want to join with a new line instea

[2021-06-23 21:37] angeloashmore commented on #92
@lihbr

Cool! Let's go with `<PrismicRichText>` and `<PrismicText>` then.

---

@samlfair

The `props` argument may be an HTML-oriented version of the standard Rich Text serializer arguments. A link, for example, may receive the following `props` object:

[code]

This is done to have greater compatibility with existing, non-Prismic-specific components. We could add a `fieldData` or `prismic` prop

[2021-07-05 16:19] TatisLois opened #93 "Possible <RichText/> bug with spreading additional props"
I'm using the `RichText` from `prismic-reactjs` library in a typescript project and am trying to add a class name to the <RichTect/> component like the first snippet below.

[code]

 I am getting a `Property 'className' does not exist on type 'IntrinsicAttributes & RichTextProps & { children?: ReactNode; }'` error from TS and when reading the source file at `node_modules/prismic-reactjs/index.d.ts

[2021-07-06 10:45] a-trost commented on #93
Yeah, this is definitely a bug. I hadn't seen that merge at #41 before, thanks for surfacing that. I'll see if we can get this fixed soon, it's definitely a point of frustration.

[2021-07-06 11:26] TatisLois commented on #93
@a-trost no worries! Not sure how contribution-friendly the project is but I would also be open to taking a shot and opening a PR. It seems like the steps would be 1. Update the type definition  2. Ensure the props are spreading 3. Add a test case.

[2021-07-06 18:28] angeloashmore commented on #93
Hey @TatisLois, a PR would be great if you see something that could be improved!

To give you an idea of what we're planning for the next version of this library, the `<RichText>` component will return an array of React elements. Providing something like `className` won't make sense in that case since there is no component wrapping the array of elements.

In the case where you want to add a class

[2021-07-07 12:09] TatisLois commented on #93
@angeloashmore that makes sense and that does work, thank you!

Seems like the type definition is still missing for `className`, it might be worth adding it as a conditional prop on the `RichTextProps` definition.

[2021-07-07 18:27] angeloashmore commented on #93
@TatisLois You're right, the props are missing types for any of `Component`'s props. We could do something like:

[code]

This will get all the props for whatever `Component` is, whether it's `"div"` or a custom React component. We just need to intersect that with the existing props. I'm happy to review a PR if you have time to submit one!

[2021-07-12 17:17] TatisLois commented on #93
@angeloashmore I opened a PR and am opening to direction! I was able to get to work using a discriminating union not with `React.ComponentProps<typeof Component>`.

I'm opening to refactoring it and going with your idea but would need some guidance. I tried going down that route and could not figure it out.

[2021-07-12 23:34] angeloashmore commented on #93
Hey @TatisLois, that's awesome! I just reviewed the PR and left a comment about how we could make the type more sound. I left some examples of how we can do what I explained above, but let me know if it's not working out and I can help. :)

[2021-07-16 12:46] abhisheknaiidu opened #95 "how to dynamically hyperlink words"
context - I've content in prismic, which already have words hyperlinked, but i want to hyperlink few more words as per SEO, how can i add it using `htmlSerializer`  ?

currently doing this, but it removes the previously hyperlinked words. any solution to resolve this?
[code]

[2021-07-20 21:59] angeloashmore commented on #95
Hey @abhisheknaiidu, good question! Your HTML serializer generally looks good, but I think you could move the `<a>` replacements to `Elements.span` rather than `Element.paragraph`. `Elements.span` is the lowest level of the serializer; paragraphs, for example, will contain spans.

The reason you are seeing other hyperlinks being removed is because you are stopping the serializer from reaching the

[2021-07-21 05:24] abhisheknaiidu commented on #95
thanks for replying, so with this I'm able to add the anchor tags to the content tho, but not able to split the function (`\n`) in the content, could you see this code . ⬇️
[code]

[2021-07-22 03:52] angeloashmore commented on #95
@abhisheknaiidu Sorry, I didn't full test out that example serializer I posted. Could you try this one instead?

[code]

[2021-08-23 14:04] lihbr commented on #92
Hey, some quick feedback I have on the refresh of the React kit after working on the refresh of the Vue kit:

## Having a client instance built-in in order to provide a "simple-usage" option:

I'm unsure how relevant it is to the React ecosystem but have we considered allowing the Prismic provider to support an alternative `endpoint`/`clientConfig` option pair to the `client` one in order to allow

[2021-08-23 19:41] lihbr commented on #92
Awesome, checks my concerns about the built-in client! Nice for links~

[2021-08-23 20:57] angeloashmore commented on #92
@lihbr `document` is now a prop on `<PrismicLink>` 🎉 (https://github.com/prismicio/prismic-reactjs/commit/0768280e049d120cb93ebac581bc4e629ff98c67)

[2021-10-25 22:44] angeloashmore opened #99 "Accept nullish Rich Text values in PrismicRichText and PrismicText"
Accepting nullish values in `<PrismicRichText>` and `<PrismicText>` could lead to a better developer experience. When working with API responses, values passed to those components will never be `null` or `undefined`. The API should always return at least `[]` when the field is left empty.

When a document is still being fetched, however, the value passed to the components may not exist yet.

We ca

[2021-10-28 18:49] beqramo opened #100 "I can't see RichText styles in my next js project"
Hi,

I updated RichText in admin panel but on my website it looks like kinda raw text, without any styling but I suppose I should get the same result as it is in admin panel.

Am I doing something wrong?
please help

[2021-10-29 22:34] angeloashmore commented on #100
Hi @beqramo, could you post your code that uses `RichText` and a screenshot of what it looks like?

`<RichText>`, when used as a component, should return HTML elements. The styling will be dependent on your CSS for the page.

[2021-10-30 19:45] riceboyler commented on #92
Just found this and it looks like a great potential step forward.

To concur with @angeloashmore, as a Next user, I'd prefer the client be independent of the Provider, though I can see where that could be useful for non SSR/SSG framework users. Would it make any sense to allow both props and if both are provided, use clientConfig over client?

[2021-10-31 18:25] beqramo commented on #100
thank you. I got it now

[2021-10-31 18:25] #100 closed

[2021-11-05 00:17] angeloashmore commented on #99
Included in `v2.0.0-beta.2`

[2021-11-05 00:17] #99 closed

[2021-11-08 12:28] codetopixels commented on #43
Did anyone ever find a solution to this please?

[2021-11-10 01:24] angeloashmore commented on #43
@codetopixels You should be able to use this component with React Native (I have not tested it myself, however). You will need to provide a custom serializer since the default serializer will return HTML components.

You can see an example here: https://prismic.io/docs/technologies/html-serializer-reactjs#example-with-all-elements

If you are okay using a beta version of this library, I highly rec

[2021-11-14 22:33] codetopixels commented on #43
That's great, thank you!

[2021-11-19 12:18] kb1995 opened #101 "SliceZone component is rendering slices in the wrong order in Preview"
### Versions

- @prismicio/react: ^2.0.0-beta.3
- react: ^17.0.2
- node: 14

When not in Preview, the content is rendered correctly in the correct order. However, when in preview, there are couple of Slices which shouldn't be on the top, appearing on the top.

My SliceZone Resolve

[code]

`console.log(slices)` renders the content in the correct order, however they don't appear in the same order i

[2021-11-19 16:27] kb1995 opened #102 "Date Component in v2?"
In v1, I've used the Date component on several occasions across my app

[code]

Looking at the source code, this component is missing. Any plans of adding it or I should create my own function to handle dates?

[2021-11-19 19:31] angeloashmore commented on #102
Hey @kb1995, thanks for trying out the v2 beta!

You're correct, `Date` is not in `@prismicio/react` v2. The updated library only contains React-related code (components, hooks). `Date` is function that converts a Date/Timestamp Prismic field to a Date object and is not React-specific.

The `Date` helper is still available in `@prismicio/helpers`. I recommend using `@prismicio/helpers` v2 beta as

[2021-11-19 19:36] angeloashmore commented on #101
That's odd. It sounds like the component keys are causing ordering issues when the preview data replaces the static data.

I'll investigate and get back to you.

Since you are using Gatsby (correct me if I'm wrong), you have access to an `id` field for each Slice. This is Gatsby-specific, but with that, we could add a prop that lets you use that ID as the Slice's component key. We would still need

[2021-11-19 21:52] kb1995 commented on #101
@angeloashmore Yes, I think that will be a nice solution for this. We need to make sure to mention in the docs that it's advisable to query the ID as part of the graphql query. Myself I usually just query slice_label and slice_type and often omit the ID.

I just had a look at the source code. The way that you generate the slice is using `const key = JSON.stringify(slice);`

This means that if I ha

[2021-11-22 17:35] lihbr commented on #102
Just a side note but the issue I see with providing a date component is that there are a lot of options when it comes to formatting dates with JavaScript: native ones, library-based ones, localization-based ones, etc.

Providing a date component would force us in making a choice here that might not fit every users' needs and/or taste, while also probably impacting negatively their bundle size.

Th

[2021-11-22 20:59] kb1995 commented on #102
Yes, I totally agree with @lihbr

Using asDate() from the helpers package is sufficient. Let's close this for now :)

[2021-11-22 20:59] #102 closed

[2021-11-23 00:04] angeloashmore commented on #101
@kb1995 Could you try `v2.0.0-beta.7` and let me know if that fixes your issue?

I was able to reproduce the same issue. To fix it, I prepended the Slice's index to the key and kept `JSON.stringify`, similar to what you suggested. Using the full object in the key makes sure Slices with the same type and index won't have the same key.

(Imagine, for example, you have two Slices with the same type b

[2021-12-01 13:35] kb1995 commented on #101
@angeloashmore I finally came around upgrading the package and from the looks of it, the bug is fixed. Thanks!

I agree - even my case is already an edge case, so I doubt this will be a common case.

[2021-12-01 13:35] #101 closed

[2021-12-01 18:49] angeloashmore commented on #101
Awesome, thanks for testing it out! I'll keep this issue in mind as others start to try out the updated library.

[2021-12-03 22:26] angeloashmore commented on #92
Hey @riceboyler, we're going to leave the `client` prop as is and not introduce a `clientConfig` option for now. This is still open for discussion if there's a good reason to support a `clientConfig` prop.

[2021-12-03 22:26] angeloashmore commented on #92
`@prismicio/react@v2.0.0` was just published (see #97) so I'm going to close this issue.

Thanks for your feedback, everyone! 🎉

[2021-12-03 22:26] #92 closed

[2021-12-03 22:27] angeloashmore commented on #86
`@prismicio/react@v2.0.0` was published with the `<SliceZone>` described above (see #97) so I'm going to close this issue.

Thanks for your feedback, everyone!

[2021-12-03 22:27] #86 closed

[2021-12-03 22:29] angeloashmore commented on #74
Hey @Levino, I know this is an old issue, but here's a quick update.

`@prismicio/react` v2 was just published and is now written completely in TypeScript. Going forward, all types will be maintained alongside the source code and in `@prismicio/types`.

Thanks for your feedback!

[2021-12-03 22:29] #74 closed

[2021-12-03 22:29] angeloashmore commented on #52
Hey everyone, I know this is an old issue, but here's a quick update.

`@prismicio/react` v2 was just published and is now written completely in TypeScript. Going forward, all types will be maintained alongside the source code and in `@prismicio/types`.

Thanks for your feedback!

[2021-12-03 22:29] #52 closed

[2021-12-03 22:29] angeloashmore commented on #68
Hey @YoannDelpierre, I know this is an old issue, but here's a quick update.

`@prismicio/react` v2 was just published and is now written completely in TypeScript. Going forward, all types will be maintained alongside the source code and in `@prismicio/types`.

Thanks for your feedback!

[2021-12-03 22:29] #68 closed

[2021-12-03 22:30] angeloashmore commented on #72
@Levino I'm going to close this issue since v2 is now out. Publishing tags is now part of the publish script so it will happen automatically going forward. Thanks!

[2021-12-03 22:30] #72 closed

[2021-12-03 22:31] angeloashmore commented on #53
Hey @hugihlynsson, I'm going to close this old issue. Pushing tags is now part of the release so it should be done automatically going forward. Thanks!

[2021-12-03 22:31] #53 closed

[2021-12-03 22:31] #38 closed

[2021-12-03 22:32] angeloashmore commented on #63
Hey @yourmediafriend, I'm cleaning up old issues so I'm going to close this. If this is still an issue, please comment and I can re-open. Thanks!

[2021-12-03 22:32] #63 closed

[2021-12-03 22:32] angeloashmore commented on #40
Hey @dianekaplan, I'm cleaning up old issues so I'm going to close this. If this is still an issue, please comment and I can re-open. Thanks!

[2021-12-03 22:32] #40 closed

[2021-12-03 22:37] angeloashmore commented on #82
Hey @Matthaios, this is an old issue but here's a quick update.

We just released `@prismicio/react` v2 which uses a new Rich Text renderer. The issue you described should not happen with the new package, but please let me know if you still experience it.

Thanks!

[2021-12-03 22:37] #82 closed

[2021-12-03 22:39] angeloashmore commented on #93
I'm going to close this as `@prismicio/react` v2's `<PrismicRichText>` component no longer renders a wrapping component. If you need a wrapping component with a specific class, just add an element around it.

Example:

[code]

Thanks!

[2021-12-03 22:39] #93 closed

[2021-12-03 22:40] angeloashmore commented on #95
Hey @abhisheknaiidu, I'm going to close this issue but please feel free to comment if you haven't been able to get this working.

Thanks!

[2021-12-03 22:40] #95 closed

[2021-12-08 02:29] angeloashmore opened #105 "Add `fallback` prop to `<PrismicText>`"
### Is your feature request related to a problem? Please describe.

`<PrismicText>` does not have a way to fallback to a default text value if the given field is falsey (i.e. empty).

### Describe the solution you'd like

A prop that renders if the text value of the given field is falsey. The prop could accept a string or any valid `React.Element`.

[code]

### Describe alternatives you've conside

[2021-12-15 16:13] kb1995 opened #106 "HTML serializer on component level should add to the global serializer, not overwrite it"
Hey,

Just wanted to share some food for thought. Currently I have an HTML serializer which updates links, embeds and specific labels.

In one of my custom types, I want to add a special rule for Heading 2 which is not present in other custom types. So I will add a special HTML serializer which updates my Heading 2. However, then I need to copy my other rules for links, embeds, etc into that new H

[2021-12-16 01:36] angeloashmore commented on #106
Hey @kb1995, thanks for pointing this out. This is how the component was intended to work but wasn't written correctly.

`@prismicio/react@v2.0.1` fixes this.

You can now provide a `components` prop to `<PrismicRichText>` that will fall back to components defined in `<PrismicProvider>` and then to the default components.

If this isn't working correctly after updating please let me know and I'll

[2021-12-16 01:36] #106 closed

[2021-12-28 12:20] morellodev opened #107 "[Gatsby] `usePrismicContext` returns {} using `PrismicProvider` inside `wrapRootElement` API"
### Versions

- @prismicio/react: v2.0.2
- react: v16.12.0
- node: v14.15.5

### Description

I am adding a `linkResolver` function and a custom `internalLinkComponent` to the entire Gatsby website, putting the `<PrismicProvider>` inside the `wrapRootElement` (both in `gatsby-ssr.js` and in `gatsby-browser.js`). If I open the React devtools, I can see the `PrismicProvider` in the components tree,

[2022-01-05 21:05] angeloashmore commented on #107
Hi @morellodev, this happens because `gatsby-browser.js`/`gatsby-ssr.js` are using `require()` while your pages are likely using `import`.

Using `require()` will point at `@prismicio/react`'s CommonJS file, while `import` will use its ESM file. Each file has its own React context object. `usePrismicContext()` from the ESM file cannot "see" the `PrismicProvider` from the CommonJS file.

You can fi

[2022-01-05 21:05] #107 closed

[2022-01-05 21:12] morellodev commented on #107
Thank you @angeloashmore, I will try your fix and eventually I will come back here again 😃

[2022-01-06 09:43] morellodev commented on #107
It worked! Thanks a lot 👍

[2022-01-06 18:21] angeloashmore commented on #107
Glad to hear it's working! 😀

[2022-01-12 16:12] levimykel opened #108 "Prismic preview crashing in Next.js production with 500 error"
### Versions

- @prismicio/react: 2.0.2
- react: 17.0.2
- next: 12.0.1

### Reproduction

I just updated from prismic-reactjs to @prismicio/react for the Prismic documentation website. Everything works as expected in local development, including previews. When deployed, however, everything crashes with a 500 error when I run a Prismic preview (everything works as expected when not in preview mode)

[2022-01-13 04:12] angeloashmore commented on #108
Hey @levimykel, I tried it on my side, both locally and in production (in my own separate account), and was unable to get this error.

Is it possible to redeploy the app on Vercel with a cleaned cache?

[2022-01-13 17:28] levimykel commented on #108
@angeloashmore Is there a specific way that you know of to clean a cache on Vercel? It seemed to me that the cache is cleared automatically anytime a new deployment is launched.

[2022-01-14 09:05] levimykel commented on #108
@angeloashmore The update is working. Thanks for looking into it!

[2022-01-14 09:05] #108 closed

[2022-01-18 10:39] phillysnow opened #113 "[RFC] Passing additional Properties in SliceZone with SliceProps"
### Is your feature request related to a problem? Please describe.

Some users would like to pass variables and functions down to Slices through the Slice Zone.

### Describe the solution you'd like

Something like the `sliceProps` property in `next-slicezone`:
https://github.com/prismicio/slice-machine/tree/master/packages/next-slicezone#slicezone

### Additional context

Forum Thread:
https://co

[2022-01-18 10:59] lihbr commented on #113
Hey Phil,

Moving forward `<SliceZone />` components from `next-slicezone` (and `vue-slicezone`) will be deprecated in favor of `@prismicio/react` (and `@prismicio/vue`) new `<SliceZone />` components.

Those new `<SliceZone />` components have been released as part of their related kits (`@prismicio/react`, `@prismicio/vue`, `@nuxtjs/prismic`) and work similarly to the existing ones (with some mi

[2022-01-18 11:10] lihbr commented on #113
I have mixed feelings about this idea as it feels wrong having to write some kind of "prop resolver". Assuming you have a `<FooBar />` slice that needs events, can't the `context` prop carryover data needed for the `<FooBar />` slice to emit necessary events?

Curious on @angeloashmore's opinion

[2022-01-18 21:16] angeloashmore commented on #113
There are two recommended ways to pass data to Slice components. Using one of these two methods is preferred, in my opinion, over adding an additional `sliceProps` prop containing potentially complex logic.

I am curious to hear if there is a use case where one of the two options cannot accomplish what you need.

### 1. Treat React components as functions

Pass Slice-specific data to the component

[2022-01-20 10:50] OTaylorUK commented on #113
@angeloashmore Thanks so much for your help, this is all really helpful and I'll definitely be using a mix of both methods in future projects.

Currently, I'm using the `context` prop to pass properties to all the Slices, which works great but it's really helpful to see how I'd pass it to a specific Slice instead of all. Thanks again!

[2022-01-20 11:17] a-trost commented on #84
Hey Bram-Zijp , apologies for the very late reply!

We've added it to the list of things we'll consider as we do a rewrite of the editor in the coming year. I do think there would be ways to implement this by using CSS that might be more optimal. That way, you wouldn't be shipping a larger image and wouldn't introduce the potential for editors to accidentally get the solid color border when they d

[2022-01-20 21:40] angeloashmore opened #114 "Custom `<PrismicRichText>` components do not automatically apply the `key` prop"
### Versions

- @prismicio/react: `v2.0.3`
- react: `v17.0.2`
- node: `v14.18.1`

### Reproduction

The following component will print a "React key missing" warning to the console. Note that the `<h1>` component does not have a `key` prop.

[code]

The following component, which now passes the `key` prop provided as an argument, does not print the key warning.

[code]

### Steps to reproduce

Add

[2022-01-20 21:45] angeloashmore commented on #113
Great! Happy to hear it was helpful.

I'm going to close this feature request as I think it is already being addressed. If you have any additional feedback or thoughts, please feel free to comment here and we can continue the discussion.

Thanks!

[2022-01-20 21:45] #113 closed

[2022-01-24 17:00] itsjoekent opened #116 "Strange RichText rendering error, stuck trying to debug a clear explanation"
_Hello! I originally posted this on the [forum](https://community.prismic.io/t/strange-richtext-rendering-error-stuck-trying-to-debug-a-clear-explanation/8759) but I was asked to move it here. I'm copying all of the detail from that post to this issue._

Hello! We have been dealing with quite a weird issue when attempting to render a headline using the Prismic RichText React component.

Our produc

[2022-01-25 17:34] stefanstaynimble opened #117 "'Element' is not exported from '@prismicio/richtext'."
Fresh install of @prismic/react v2.0.3 throws error:
`Attempted import error: 'Element' is not exported from '@prismicio/richtext'.`

Reverting to 2.0.2 fixes the issue

[2022-01-25 18:36] angeloashmore commented on #116
Hey @itsjoekent, thank you so much for the very detailed triaging and description. This is definitely a strange bug. Thankfully I have an iPhone to test this. 😄

I'll be looking into this today and will post here once I understand the problem better.

[2022-01-25 19:57] itsjoekent commented on #116
@angeloashmore Thank you @angeloashmore , let me know if you need my help trying to create a reproducible example. I have an idea in my head of how I would do this that wouldn't require sending you our entire website, would just need to clear with my team spending some time on that.

[2022-01-26 00:32] angeloashmore commented on #114
Fixed in #118. The fix will be published in the next release.

[2022-01-26 00:39] angeloashmore commented on #117
Hi @stefanstaynimble, thanks for the bug report. I'm not able to get the same error on a fresh project, unfortunately.

Could you perform the following steps to rule out any outdated packages?
1. Run `npm update @prismicio/react @prismicio/richtext`.
2. If that doesn't fix the issue, delete `node_modules` and run `npm install` again.
3. If that still doesn't work, could you post your project's `pa

[2022-01-26 01:28] angeloashmore commented on #116
@itsjoekent Unfortunately, I am having trouble creating a reproduction of this issue. Is it possible you could create a project with just that section of the website? Ideally you could share the version that has been upgraded to `@prismicio/react`.

If you would like to share the code privately, you can send me a message on Prismic's forum with this link: https://community.prismic.io/new-message?u

[2022-01-26 15:12] itsjoekent commented on #116
@angeloashmore Working on getting internal permission to share code, will get back to you!

[2022-01-27 14:42] stefanstaynimble commented on #117
I followed your steps @angeloashmore but the error persists:

My package.json file contents is as below:

[code]

[2022-01-27 16:00] itsjoekent commented on #116
@angeloashmore Sent!

[2022-01-28 01:37] angeloashmore commented on #114
This has been published in `v2.0.4` 🎉

[2022-01-28 01:37] #114 closed

[2022-02-01 18:51] angeloashmore commented on #116
Hey @itsjoekent, just letting you know I didn't forget about this. I have time today to test out your reproduction and hopefully find what's causing the issue. Thanks for your patience!

[2022-02-02 02:46] angeloashmore commented on #116
@itsjoekent This was fun to debug! I think I figured out the issue and how to fix it. If I'm correct, it's not caused by `<PrismicRichText>`. 🙂

## Why does the issue happen?

The issue happens because the `tt-bluescreens` font is not available initially. This is why the issue only occurs on an empty cache. Something could be calculating something about the canvas and changing the scroll position

[2022-02-02 02:46] #116 closed

[2022-02-02 21:52] itsjoekent commented on #116
@angeloashmore This all makes sense! I ruled the font loading out as a possibility when (I thought*) I had evidence that it was only occurring when we rendered with the rich text component.

I am curious for future reference, how were you able to locate/identify the `&nbsp;` symbol? I don't recall coming across that in the Chrome inspect elements tab or the React output.

[2022-02-03 19:36] angeloashmore commented on #116
@itsjoekent No problem! I'm glad we were able to figure out the problem. 🙂

Re: identifying the `&nbsp;` - I inspected the `<h2>` in Chrome and noticed the extra character in there. It's definitely not obvious when looking at the rendered version of it.

<img src="https://user-images.githubusercontent.com/8601064/152415933-85a753da-2cfa-44aa-97ae-447a1a08ab65.png" width="500" />

[2022-02-04 12:55] BillyBlaze opened #120 "Expose 'type-fest' as dependency instead of devDependency"
Currently this package makes use of the `type-fest` package, for example [this piece of code](https://github.com/prismicio/prismic-react/blob/master/src/lib/pascalCase.ts#L1) uses the PascalCase type from that package. However the dependency of `type-fest` is set underneath [devDependencies](https://github.com/prismicio/prismic-react/blob/master/package.json#L88) while technically this should be u

[2022-02-04 13:10] BillyBlaze commented on #117
I am getting the same errors as @stefanstaynimble and downgrading to 2.0.2 does indeed resolve this issue.

After some investigation I found out that webpack does not seem to work nicely with the `.mjs` extension. (This was changed in 2.0.3)

I found a workaround for our storybook project by adding the following to the webpack.config.js:

[code]

However at this moment it seems this workaround doe

[2022-02-04 14:03] levimykel commented on #117
@angeloashmore I'm seeing this same issue in the reactjs-website project when I update to the latest @prismicio/react version:
https://github.com/prismicio/reactjs-website

[2022-02-04 19:41] angeloashmore commented on #117
Thanks for the explanations everyone! I understand the issue now. This is most likely a result of using a combination of the following:

- `type: module` in `package.json`
- `index.mjs` for ESM builds
- `index.cjs` for CJS builds

Tools like CRA 4 do not correctly resolve ESM packages with this setup. This might be common to Webpack 4 build systems, including Storybook, but I'm not 100% sure.

I w

[2022-02-04 23:46] #120 closed

[2022-02-05 00:02] angeloashmore commented on #120
Hey @BillyBlaze, thanks for pointing this out. I've moved the type used from `type-fest` (`PascalCase`) into the package so we don't need it as a dependency. You can see the change in this PR: #121

This fix will be published in the next release which should come out early next week. I'll post here again once it's published. Thanks!

[2022-02-05 00:53] #117 closed

[2022-02-05 01:06] angeloashmore commented on #117
This should be resolved by updating to `@prismicio/react` `v2.0.6`.

Some background on why this error happens is available here: #122

@stefanstaynimble @BillyBlaze @levimykel Could you let me know if this update fixes the issue? Thanks!

[2022-02-07 09:26] BillyBlaze commented on #117
Thanks for the release! This update does indeed fix the issue for me.

[2022-02-07 09:27] BillyBlaze commented on #120
Hi @angeloashmore, your welcome and thanks for your quick response! Removing the dependency is even a better solution :smile:  I have updated my project and everything is good!

[2022-02-10 16:57] ghacosta opened #123 "imgix-url-builder could not be resolved"
### Versions

- "@prismicio/client": "^6.2.0",
- "@prismicio/helpers": "^2.1.1",
- "@prismicio/react": "^2.0.6",
- "react": "17.0.1",
- node: v14.16.1

### Reproduction

<details open>
<summary>Additional Details</summary>
<br>

</details>

### Steps to reproduce
``` npm install @prismicio/react @prismicio/client @prismicio/helpers```

Create client according to docs (replacing repositoryName and

[2022-02-10 19:09] #123 closed

[2022-02-16 03:00] angeloashmore opened #124 "Add `<PrismicImage>`"
### Is your feature request related to a problem? Please describe.

`@prismicio/react` does not currently provide a helper for rendering Image fields. A simple image component could be provided as a wrapper around [`@prismicio/helpers`'s Image field helpers](https://prismic.io/docs/technical-reference/prismicio-helpers#asimagesrc).

**Note**: Even after implementing such a component, framework-spe

[2022-02-24 02:22] beamercola opened #125 "Add minimal Typescript example with repeatable fields"
I'm having a really tough time getting typescript to be ok with my slices.  The `custom-slicezone-props` example was helpful, however looping through nested items I can't seem to figure out.

[2022-02-24 04:49] angeloashmore commented on #125
Hey @beamercola, could you provide a short example of what you're trying to do? I can write up an example if you point out what isn't working.

(By the way, I'm working on a CLI that will generate TypeScript types for you automatically that you might be interested in. We'll share publicly once it's available - hopefully soon.)

[2022-02-24 04:53] angeloashmore commented on #125
If you're looking for an example of how to type the repeatable fields in a Slice, you can provide the fields as the second type parameter to `prismicT.Slice`:

[code]

This will type the `items` field as an array of objects with those properties.

(In addition to the CLI I'm working on, we're also working on writing/generating documentation for the TypeScript Types. They aren't documented today an

[2022-02-25 02:33] angeloashmore commented on #105
This is implemented in #126.

[2022-02-25 02:33] #105 closed

[2022-02-25 02:57] angeloashmore commented on #125
@beamercola I added a TypeScript-specific example here: https://github.com/prismicio/prismic-react/tree/master/examples/with-typescript

I'm going to close this issue, but please let me know if you are looking for something specific in the example. I'm more than happy to update it. :)

[2022-02-25 02:57] #125 closed

[2022-02-25 03:01] angeloashmore commented on #84
Hey @Bram-Zijp, after consideration, I think something like this is better suited in a custom component. It could be handled using a combination of `<div>`s and CSS, like @a-trost recommended.

We will be thinking of how a `<PrismicImage>` component could be implemented (issue: #124). While it may not include the background color functionality you are requesting here, it might be used in your cust

[2022-02-25 03:01] #84 closed

[2022-02-25 03:07] angeloashmore commented on #76
Hey @jodiedoubleday, sorry you didn't get a reply sooner. This comment comes almost a year and a half late. 🙃

If you are still looking for an answer, the answer is no, unfortunately. When using Prismic's GraphQL API, you are unable to fetch additional data for links within a Rich Text Field.

This limitation is only specific to document links in Rich Text fields rendered with `<RichText>` (which

[2022-02-25 03:07] #76 closed

[2022-02-25 20:01] beamercola commented on #125
Amazing, thank you!

[2022-03-02 01:36] asyarb opened #128 "React.forwardRef on <PrismicLink>"
### Is your feature request related to a problem? Please describe.

A `ref` that is assigned to a `<PrismicLink>` component never forwards it to the underlying `<a />` or internal link component.

### Describe the solution you'd like

The `ref` should be forwarded to the `externalLinkComponent` or `internalLinkComponent` respectively.

[code]

### Describe alternatives you've considered

N/A

###

[2022-03-02 20:33] angeloashmore opened #129 "Add `fallback` prop to PrismicRichText"
### Is your feature request related to a problem? Please describe.

Adding a `fallback` prop to `<PrismicRichText>` would be helpful to render content when a field's value is empty.

This functionality should mirror `<PrismicText>`'s `fallback` prop. See #105 for more details.

### Describe the solution you'd like

[code]

### Describe alternatives you've considered

To do this today, one must use

[2022-03-03 01:07] angeloashmore commented on #128
Thanks! This is fixed in `v2.1.1`.

`<PrismicLink>` now forwards refs like other components. If a custom React component is provided to `internalComponent` or `externalComponent`, the component must also forward its ref.

More details can be found in the PR: #131

[2022-03-03 01:07] #128 closed

[2022-03-08 17:31] kropelka77 opened #134 "Importing `forwardRef` from `react` is overwritten by @prismicio"
### Versions

- @prismicio/react: 2.1.1
- react: 17.0.2
- node: 16.14.0

### Reproduction

<details open>
<summary>Additional Details</summary>
<br>
Morning,

When trying to update `@prismicio/react` to the version 2.1.1, I've noticed that all my currently imported `forwardRefs` from `react` are now pointing to @prismicio implementation (caused by [this change](https://github.com/prismicio/prismic

[2022-03-08 19:35] angeloashmore commented on #134
Hey @kropelka77, thanks for the report. Could you try `v2.1.2-alpha.0` and let me know if the issue is fixed and everything work as expected?

**Background info**: `forwardRef` support was added to `<PrismicLink>` in #131 and published in `v2.1.1`. It uses a TypeScript declaration merging to support generics in prop types, which `<PrismicLink>` needs. As you found, this causes issues globally in a

[2022-03-08 19:35] angeloashmore commented on #134
Related: #128, #131, #132

[2022-03-08 23:32] kropelka77 commented on #134
Hi @angeloashmore, thank you for your quick reply!

I've checked and `v2.1.2-alpha.0` solves the issue for me - it no longer overwrites global `forwardRef` ✨

[2022-03-10 02:10] angeloashmore commented on #134
Thanks for testing @kropelka77! The fix is published in `v2.1.2`.

[2022-03-10 02:10] #134 closed

[2022-03-17 00:58] angeloashmore commented on #129
Completed in #135.

[2022-03-17 00:58] #129 closed

[2022-03-20 03:56] dungle-scrubs opened #136 "Is there an equivalent to prismic-reactjs' Date component?"
After switching from `prismic-reactjs` to `@prismicio/react`, I don't yet see a way to render a date field.  Is this an available feature?

[2022-03-21 20:35] angeloashmore commented on #136
Hey @dungle-scrubs,

The `Date` export from `prismic-reactjs` was just a re-export of a helper from [`@prismicio/helpers`](https://prismic.io/docs/technical-reference/prismicio-helpers). Since it is not a React-specific helper, it was removed in the new `@prismicio/react`.

You can see more details on migrating `prismic-reactjs`'s `Date()` to `@prismicio/helpers`'s `asDate()` here: https://prismic

[2022-03-21 20:35] #136 closed

[2022-03-30 08:43] kb1995 opened #137 "PrismicProvider + Typescript + linkResolver"
I'm using the default guide of setting up a project. My Link resolver looks like this

[code]

Notice the `null` return which I think is necessary if you want to use it in combination with Route Resolver.

my `_app.tsx` (next.js app) looks like this:

[code]

I get an error on the PRismicProvider's linkResolver prop

[code]

[2022-03-30 22:35] angeloashmore opened #139 "<SliceZone> does not work with GraphQL API responses"
`<SliceZone>` expects a list of Slice objects to render, each with a `slice_type` property. This property is used to determine which component to render.

Prismic's GraphQL API uses the `type` field rather than `slice_type`. The component should be updated to support the GraphQL-style object.

### Versions

- @prismicio/react: v2.1.2
- react: 17.0.2
- node: 14.x

### Steps to reproduce

1. Query a

[2022-03-31 02:39] angeloashmore commented on #124
This is being implemented in #140.

[2022-03-31 03:01] angeloashmore commented on #139
Fixed in #141

[2022-03-31 03:01] #139 closed

[2022-03-31 03:17] #137 closed

[2022-03-31 15:21] angeloashmore commented on #137
Hey @kb1995, sorry, I just realized I didn’t reply to you before closing the issue.

This should be fixed in `v2.2.0`.

You can see details about the fix here: #142

Thanks for reporting this! If the fix doesn’t work for you, please let me know and I’ll take another look. 🙂

[2022-04-01 08:38] kb1995 opened #144 "Typescript + SliceZone - error"
Hey,

I encounter another Typescript error, which might be my fault, but I can't figure out why is it happening.

My `pages/index.tsx`

[code]

I get the following error on the components props

[code]

This is what my Hero slice looks like

[code]

[2022-04-07 00:34] angeloashmore commented on #144
Hi @kb1995,

This happens because the type used your `Props` interface is more specific than what `<SliceZone>` knows. In this case, it looks like `doc.data.slices` is not typed to be a `SliceZone` that contains a `hero` Slice.

As a result, `<SliceZone>` only knows that `doc.data.slices` contains an array of objects containing at least a `slice_zone` property. Your Slice component, however, is as

[2022-04-07 00:34] #144 closed

[2022-04-08 17:50] Klynger opened #145 "Add `usePrismicLink` as an alternative for `PrismicLink`"
### Is your feature request related to a problem? Please describe.

`PrismicLink` doesn't work very well on Typescript. Given the complexity of the type, you can't even pass a `className` to the component without having to disable Typescript. But at the same time, it is a handy component. So it would be nice to have a way to re-use its logic.

### Describe the solution you'd like

We could have a

[2022-04-15 03:38] angeloashmore commented on #124
Merged in #140 and will be published along with the next set of features + fixes.

[2022-04-15 03:38] #124 closed

[2022-04-15 04:26] angeloashmore commented on #145
Hi @Klynger, thanks for bringing this up.

There was a regression introduced in `v2.1.2` that removed default support for common props like `className`, `onClick`, etc.

While the change technically is more correct (`<PrismicLink>` can render any component, including ones that don't support `className` or `onClick`), it is not practically usable.

I see where you're going with suggesting a hook si

[2022-04-27 18:32] angeloashmore commented on #145
I'm going to close this issue since we won't be adding a `usePrismicLink()` hook at this time. I recommend using one of the three strategies shown above when using TypeScript with a link component that diverges from `<a>`'s inherit props.

If anyone feels strongly about creating a `usePrismicLink()` hook here, please feel free to comment here and we can discuss further. Thanks!

[2022-04-27 18:32] #145 closed

[2022-05-01 13:36] vaneenige opened #148 "Duplicate React declaration with Remix"
### Versions

- @prismicio/react: v1.4.3
- react: v18.1.0
- node: v16.13.2
- remix: v1.4.3

### Steps to reproduce
- Create a new project with [Remix Run](https://remix.run/)
- Install `@prismicio/react`
- Import anything like `import { SliceZone } from '@prismicio/react';`

### What is expected?
As Remix is also based on React I expected this to work. We used `prismic-reactjs` before with Remix w

[2022-05-05 21:52] angeloashmore opened #149 "Elegantly handle incorrect `<PrismicText>` usage with Key Text fields"
### Is your feature request related to a problem? Please describe.

The `<PrismicText>` component is designed to accept and render Rich Text fields. It outputs a plain text version of its input using `@prismicio/helpers`'s `asText()` helper.

A developer might reach for the `<PrismicText>` component for other text-related fields, such as a Key Text field. This is an invalid input, thus the compone

[2022-05-06 07:35] lihbr commented on #149
Awesome! I'd be for letting it fail and logging a prismic.dev message when field is of type string :)

[2022-05-06 18:13] alexanderbluhm opened #150 "PrismicLink output if not enough attributes are passed in"
### Is your feature request related to a problem? Please describe.

I created a `Link`-Field in Prismic CMS and wanted to use `PrismicLink` in order to display it.
In my case it could be a document, external or media link.
I used this code to render the `PrismicLink`:

[code]

I expect this to work but there was no error and no link was rendered. (It just returned `null` I think)
After that, I add

[2022-05-18 22:31] angeloashmore commented on #148
Hi @vaneenige, sorry for the late reply.

I just run your reproduction and did not get a React error. The component works as it does in, for example, Next.js.

To clarify how I tested this, I followed these steps:

1. Run `npx create-remix@latest`.
2. When asked "What type of app do you want to create?", select: "Just the basics".
3. When asked "Where do you want to deploy?", select: "Remix App Se

[2022-05-26 01:19] angeloashmore commented on #149
Implemented in #152.

[2022-05-26 01:19] #149 closed

[2022-05-26 20:39] angeloashmore commented on #150
Hi @alexanderbluhm, thanks for reporting this bug.

`v2.4.1` includes a development-only check for missing Link field properties. It will throw an error letting you know the field is missing properties and links to a document with an explanation. See the document here: https://github.com/prismicio/prismic-react/blob/1eb04d88a72f436ac7586625716ff6c9fe337949/messages/missing-link-properties.md

You

[2022-06-06 11:06] kb1995 commented on #150
@angeloashmore How can I opt out from the error message? If the content person has included an empty link on the website (either on purpose or by accident), I can't work in development as this error is popping up.

Currently, the only way to go around it if to wrap the PrismicLink into my own custom component in order to check if the field is present. If it's not present, render an empty link. But

[2022-06-07 21:17] angeloashmore opened #155 "TypeScript error when using `<SliceZone>` with Next.js's `next/dynamic`"
### Versions

- @prismicio/react:
- react:
- node:

### Reproduction

<details open>
<summary>Additional Details</summary>
<br>

</details>

### Steps to reproduce

### What is expected?

### What is actually happening?

[2022-06-09 02:40] angeloashmore commented on #150
@kb1995 Thanks for reporting that. That was unintended; unfilled Link fields are valid and should not trigger an error.

I implemented a fix in #157, but it requires a fix in `@prismicio/helpers` as well (https://github.com/prismicio/prismic-helpers/pull/51). Before merging and publishing both PRs, I'd like to get a review from @lihbr first. I'll post here once the fix is published.

Thanks again!

[2022-06-09 20:55] angeloashmore commented on #150
Perfect! #157 has been merged and published in `@prismicio/react@v2.4.2`.

To update, install the latest version:
[code]

@kb1995 When you have a chance, could you update and let me know if it fixes the issue? You should be able to use `<PrismicLink>` without an additional empty-field check.

[2022-06-09 20:55] #150 closed

[2022-06-09 22:43] kb1995 commented on #150
@angeloashmore Thanks, I just tested it and now the error is gone.

I'm still not 100% sure if the default behaviour shouldn't be to output an empty link but still showing the children. This is the logic I've used up to now, but this might not be correct.

Imho, it does make sense to be the case above. Then if I don't want it to be the case (don't display it if there is an empty link) I can update

[2022-06-16 00:02] angeloashmore commented on #155
I was unable to reproduce on the latest version of `@prismicio/react` (`v2.4.2`) and `next/dynamic`.

`v2.4.2` included a change to `<SliceZone>` that relaxed the type requirements which may have resolved the type incompatibility.

It's worth noting that Slice components provided to `<SliceZone>` must still be typed with `SliceComponentProps` as those are the only props that will be passed to the

[2022-06-16 00:02] #155 closed

[2022-06-16 10:07] bosbode opened #158 "Error: [PrismicText] when previewing slice"
When creating a new slice and adding a Key Text. I get the following error when trying to preview it:

Error: [PrismicText] The "field" prop only accepts a Rich Text or Title field's value but was provided a different type of field instead (e.g. a Key Text or Select field). You can resolve this error by rendering the field value inline without <PrismicText>.

I'm just following [this YouTube video

[2022-06-16 23:42] angeloashmore commented on #158
Hi @bosbode, you are correct; Slice Machine gives the wrong code snippet for Key Text fields.

As you saw in [the error message](https://github.com/prismicio/prismic-react/blob/b630f12222c754cfc9f01b5dd523c112e70e5a49/messages/prismictext-works-only-with-rich-text-and-title-fields.md), `<PrismicText>` only accepts Rich Text or Title field values. Key Text is already a plain string, so it can be us

[2022-06-16 23:42] #158 closed

[2022-07-21 20:58] FrozenKiwi opened #160 "package.json missing `types: "module"`"
### Versions

- @prismicio/react: latest

### Reproduction

When imported into Jest with Native Modules, it fails to compile because the package `exports` points to an ESM file, but there is no matching `type: "modules"` in package.json

https://github.com/prismicio/prismic-react/blob/master/package.json

I think webpack might figure this one out automatically, but jest is bit of a stickler for th

[2022-07-27 21:31] ReeceM opened #161 "PrismicLink: Missing Link Properties error message isn't helpful enough"
### Is your feature request related to a problem? Please describe.
I would like to suggest a feature of making the PrismicLink feedback slightly more verbose message for the Missing Link information message from the CLI.

Currently when there is an error the message is like this:

[code]
First time seeing it, but also I have no idea which link. Especially when there is quite a lot of them...

###

[2022-07-27 21:32] ReeceM commented on #161
Also the Link class is a whole lot better than before :) 💯

[2022-07-29 20:21] angeloashmore commented on #161
Hi @ReeceM, thanks for the suggestion! I'm glad to hear you're liking the Link component! 🙂

When that warning appears, it means the `<PrismicLink>` component doesn't have enough information to render the link. This means it also wouldn't have enough information to tell you which Link field caused the issue. For example, showing the UID of the page wouldn't be possible since the `<PrismicLink>` co

[2022-07-29 20:57] ReeceM commented on #161
Hi @angeloashmore,

Thank you for the detailed information and also the explanation of why it may not be possible to implement more details in the exception.

Currently I am using the `<PrismicLink/>` component in a NextJS project. And not using GraphQL to query. I'll have a look then in the browser console side to see what is causing it.

I am not sure if the ThemeUI link component is not playing

[2022-07-29 21:12] ReeceM commented on #161
Okay, so it is my blunder in a CTA slice which has two buttons. And only the primary one is filled at the moment.

Interestingly what used to work below, now renders because there is an object?
[code]

Is that why there is the need to use the `isFilled.link()` helper?

This may have then just been user error on my part, if you would like you can close it Angelo 👍

[2022-07-30 02:43] #161 closed

[2022-07-30 02:49] angeloashmore commented on #161
Hey @ReeceM, it turns out there was a bug in `<PrismicLink>`! The test to check for the warning on empty links was written incorrectly (probably an accident from copy and pasting part of the test while it was being written).

This means your code is probably correct and it was just an issue within `<PrismicLink>`.

It should be fixed as of `v2.4.4`, which you can upgrade to using the following com

[2022-08-05 01:14] angeloashmore commented on #160
Hi @FrozenKiwi, thanks for the report, and sorry for the delay in response.

When we don't get a reproduction project or steps to reproduce the issue, it takes longer for us to diagnose the issue since we need to first recreate the issue. A repro would be greatly appreciated next time. 🙂

Here's a minimal reproduction for this issue: https://github.com/angeloashmore/prismic-react-issue-160-repro

[2022-08-05 01:14] #160 closed

[2022-09-27 19:51] DnSu opened #164 "width is being ignored imgixParams"
`<PrismicImage field={photoRow.photo} imgixParams={{ w: 200, h: 200, fit: 'crop' }} />`

resulting image URL params `?auto=compress%2Cformat&h=200&fit=crop&width=1200`

width is being ignored.

[2022-10-13 01:29] angeloashmore commented on #164
Hi @DnSu, sorry for the late reply. I'm just getting back from vacation and going through issues now. 🙂

The `w`/`width` Imgix param is managed through the `widths` prop rather than the `imgixParams` prop. Using `widths` allows you to control the output's `srcset` attribute.

If you only need one width rather than a set of widths in the srcset, you can set `widths` to a single value like so:

[cod

[2022-10-13 01:29] #164 closed

[2022-11-10 23:40] angeloashmore opened #167 "Provide feedback when a `<PrismicLink>` component receives an invalid value"
### Is your feature request related to a problem? Please describe.

`<PrismicLink>` accepts a Prismic Link field and renders an appropriate link element. If the Link field is empty or is `null`, `<PrismicLink>` renders null.

`<PrismicLink>`'s empty field handling can be difficult to debug when an invalid value is provided. It currently "fails" silently since the component treats an empty or nonex

[2022-11-12 12:21] lihbr commented on #167
LGTM, just a note to put the incentive on the Route Resolver inside the warning message.

Wondering how we could standardize those kinds of behavior/checks across SDKs 🤔 i.e. Should this be part of `asLink()` for example/instead?